@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
body{
	background-color: #FAD7A0;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:10px;
}
 
.wrapper {
	width:80%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
	color:#f2f2f2;
	font-size:50px;
	font-family: "Mystery Quest";
	line-height:80px;
	margin-top: 20px;
	float:left;
}
 
header .logo_cuervo {
	float: left;
    max-width: 70px;
    margin-left: 20px;
    margin-top: 20px;
}
 
header nav {
	float:right;
	line-height:70px;	
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 10px;
	line-height:normal;
	font-size:13.5px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#f56f3a;
	border-radius:100px;
}

header nav a:active{
	/*Gracias a que el elemento está en posición relativa, podemos bajarlo 4 px sin alterar el HTML*/
	top:8px;
	/*bajamos el tamaño de la sombra para conseguir el efecto de profundidad*/
	-moz-box-shadow: 0px 3px 0px 0px rgb(0, 105, 202);
	-webkit-box-shadow: 0px 3px 0px 0px rgb(0, 105, 202);
	box-shadow: 0px 3px 0px 0px rgb(0, 105, 202);
}

.Cuento{
    max-width: 800px;
    height:315px;
    border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	padding: 15px;
	background-color: #252932;
	color: white;
    overflow:auto;
}

h1{
	display: block;
    font-size: 2em;
    font-family: "Mystery Quest";
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1#Titulo_EAP{
	display: block;
    font-size: 2em;
    font-family: "Times New Roman";
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.img_EAP{	
	float: left;
	height: 250px;
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 600px;
    border-width: 1px;
	border-style: solid;
	border-color: black;
}

.Contenido{
	font-size: 15px;
	border-width: thick;
	border-radius: 20px;
	border-style: solid;
	border-color: #808080;
	padding: 15px;
	max-width: 800px;
	text-align: justify;
	margin:auto;
	display:block;	 
    overflow: hidden;   
}

.obras{
	font-family: fantasy;
	color: #fb4f14;
}
